body {
  font-size: 16px;
  color: #fff;
  background-color: #f5f5f5;
  font-family:'Concert One', cursive;
}

/** HEADER **/
#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-bottom: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Concert One', cursive;
  color: #000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
#nav-list {
  
  margin-top: 10px;
}
#nav-list a {
  margin: 5px;
  color: #000;
  text-align: center;
  font-size: medium;
  border: #000 solid;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.row
{
    width: 100%;

}
  #container{

    position: relative;


}

    .menu{
      margin: 15px;
  }
  .main-title{
      font-weight: bold;
      margin-top: -3px;
      margin-bottom: 35px;
  }
  .menu-item{
    font-family:'Concert One', cursive ;
    border: #000 solid;
      padding:10px;
      background-color: #808080;
      margin-bottom:20px ;
  }
  .menu-item h4{
      font-weight: bold;
      font-size: 1.3em;
  }
  

